build/

# Bỏ qua thư mục biên dịch (build)

# Bỏ qua các file tạm thời của editor (ví dụ vim, emacs, nano)
*~
*.swp

# Bỏ qua các file biên dịch (object files, executables)
*.o
*.a
*.so
*.out
*.rej
*.orig
# Bỏ qua các file log
*.log

# Bỏ qua các file cache của Git (như .gitmodules)
*.gitmodules

